body{
background: linear-gradient(rgb(240, 116, 136), white);
margin:auto;
width:39%;
margin-top:15%;

}
h1{ 
font-family: 'Josefin Sans', sans-serif;


color:deeppink;
}

    
{
.shadow{
color:deeppink;
}
